<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
	  body,html
	  {
		height:100%;
		margin:0px;
	  }
	  div.container-fluid
	  {
		margin-top:0px;
		margin-bottom:0px;
		height:100%;
	  }
	  div.up-userMessage
	  {
		height:80%;
	  }
	  div.panel
	  {
		margin:3% 5% 3% 5%;
	  }
	  div.panel-heading
	  {
		padding:3%;
	  }
	  div.panel-body
	  {
		padding:3%;
	  }
	  div.time
	  {
	    float:right;
	  }
	  div.bottom-sendMessage
	  {
		padding-left:5%;
		padding-right:5%;
		height:10%;
	  }
	  input.form-control
	  {
		
	  }
	  
	  
	</style>
  </head>
  <body>
    <div class="container-fluid">
	
	  <div id="userMessage" class="up-userMessage">
		<div class="panel panel-info">
		  <div class="panel-heading">
			Test Head <div class="time">01.01.2015 9:30AM</div>
		  </div>
		  <div class="panel-body">
			Test Body
		  </div>
		</div>
	  </div>
	  
	  <form class="form-inline">

	  
	  <div id="sendMessage" class="bottom-sendMessage">
		<hr/>
		<div class="row">
		 <div class="col-xs-12">
            <div class="input-group" style="width:100%;"  >
               <input type="text" class="form-control" style="auto;">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                     Go!
                  </button>
               </span>
            </div>
         </div>
		</div>
	  </div>
	  
	</div>
	<script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>